{% extends "base.html" %}

{% block content %}
    <h2>{{data.name}}</h2>
     <table>
      <tr>
        <th>Entidade</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
        {% for dict in data %}
          <tr>
            <td>{{dict.entity}}</td>
            <td>{{dict.paymentAmount}} EUR</td>
            <td>{{dict.paymentDate}}</td>
            <td>{{dict.sender_name}}</td>
            <td>{{dict.receiver_name}}</td>
            <td>{{dict.transferAmount}} EUR</td>
            <td>{{dict.transferDate}}</td>
          </tr>
        {% endfor %}
    </table> 
{% endblock %}
