<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit-form" method="POST">
        <label for="fullname">Nome completo:</label><br>
        <input type="text" id="fullname" name="fullname"><br><br>
        
        <label for="address">Morada:</label><br>
        <input type="text" id="address" name="address"><br><br>
        
        <label for="dob">Data de nascimento:</label><br>
        <input type="date" id="dob" name="dob"><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        
        <label for="phone">Número de telemóvel:</label><br>
        <input type="tel" id="phone" name="phone"><br><br>
        
        <input type="submit" value="Submeter">
      </form>
      
      
</body>
</html>