<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>SDC Bank</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body class="body-home">
        <div class="content">
            <h2 class="title-home">SDC Bank</h2>
            <form action="/signin">
                <input class="button-home" type="submit" value="Entrar" />
            </form>
            <form action="/signup">
                <input class="button-home" type="submit" value="Registar" />
            </form>
        </div>
    </body>
</html>
