{% extends "base.html" %} {% block title %} {{ data.title }} {% endblock %} {% block nav %} {{ data.navTitle }} {% endblock %} {% block content %}
<form action="/login" method="POST">
    <input class="formfield" placeholder="Email" type="email" id="email" name="email" required />
    <label class="formlabel email" for="email">Email</label>

    <input class="formfield" placeholder="Password" type="password" id="password" name="password" required />
    <label class="formlabel password" for="password">Palavra Passe</label>

    <input type="submit" value="Login" />

    <p>{{ data.message }}</p>
</form>

<form action="/" method="get">
    <input type="submit" value="Voltar" />
</form>
{% endblock %}
