{% extends "base.html" %} {% block title %} Transferências {% endblock %} {% block content %}
<div class="content">
    <form action="/transfer" method="POST">
        <label for="iban">IBAN:</label><br />
        <input type="text" id="iban" name="iban" required /><br /><br />
        <label for="amount">Montante:</label><br />
        <input type="text" id="amount" name="amount" required /><br /><br />

        <!--<p>{{ data.entity }}</p>-->

        <input class="button-submit" type="submit" value="Avançar" />
    </form>
    <form action="/voltar" method="POST">
        <input class="button-voltar" type="submit" value="Voltar" />
    </form>
</div>

{% endblock %}