{% extends "base.html" %}

{% block title %} {{ data.user_fullname }} {% endblock  %}
{% block nav %} {{ data.user_fullname }} {% endblock %}

{% block content %}
    <h3>Informação do Utilizador </h3>
    <ul>
        <li>Nome completo: {{ data[0].user_fullname }}</li>
        <li>Morada: {{ data[0].user_address }}</li>
        <li>Data de Nascimento: {{ data[0].user_birthdate }}</li>
        <li>Email: {{ data[0].user_email }}</li>
        <li>Número de Telemóvel: {{ data[0].user_phone }}</li>
    </ul>

    {% for conta in data[1] %}
    <h3>Informação da Conta Bancária {{ conta.acc_iban }}</h3>
        <ul>
            <li>Tipo: {{ conta.acc_type }}</li>
            <li>
                <details>
                    <summary>Saldo</summary>
                    {{ conta.acc_amount }}
                </details>
            </li>
        </ul>
    {% endfor %}

    <form action="/createAccount", method="post">
        <button type="submit">Criar Conta</button>
    </form>

    <form action="/logout" method="get">
        <button type="submit">Sair</button>
    </form>

    <form action="/pay" method="get">
        <button type="submit">Pagamento de seviços</button>
    </form>
{% endblock %}
